@charset "UTF-8";
/*$Ancho-Vida: width(100%);*/
/*------Seccion de la biografia en Bio--------*/
/*------Seccion de la biografia en Bio-----fin---*/
/*------Seccion albunmes en Musica------*/
/*-----768px------*/
/*-----768px---fin---*/
/*------Seccion albunmes en Musica---fin---*/
/*-----------------APLICABLE A TODAS LAS SECCIONES-----------------*/
body {
  background-color: black !important; }

/*-----------------NAVBAR-----------------*/
.NavBoton {
  height: 2rem; }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.Hero {
  background: url("https://cdnmundo1.img.sputniknews.com/img/07e5/03/0b/1109764838_0:432:2048:1584_1920x0_80_0_0_369734dff8483ddb0e168b6452419b70.jpg") no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed; }
  .Hero .NavbarCustom {
    height: 20%; }
    .Hero .NavbarCustom .nav-link {
      color: white;
      font-size: 1.5rem;
      text-align: center; }
    .Hero .NavbarCustom .LogoBandoneon {
      width: 10rem;
      height: 9rem;
      border-radius: 3rem; }
  .Hero .navbar-nav > li {
    /*--Le agrega espacios entre secciones--*/
    margin-right: 2rem; }
  .Hero .navbar-brand {
    /*--Le reduce el tamaño al contenedor del logo--*/
    width: 11%; }
  .Hero .Hero__Content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80%;
    width: 100%; }
    .Hero .Hero__Content .Hero__Content__Titulo {
      font-size: 5vw;
      margin-right: 3rem;
      text-transform: uppercase;
      color: #B19D07;
      text-align: right; }

/*-----------------Animacion para el navbar-----------------*/
.nav-link {
  /*-----------------Le quito el padding para que la linea de animacion sea del tamaño de la palabra y no mas-----------------*/
  padding-right: 0 !important;
  padding-left: 0 !important; }

.AnimacionLinea {
  position: relative; }

.AnimacionLinea::after {
  content: '';
  width: 0%;
  height: 0.1rem;
  display: block;
  background-color: #B19D07;
  position: absolute;
  transition: width .9s; }

.AnimacionLinea:hover::after {
  width: 100%;
  position: absolute;
  background-color: #B19D07;
  transition: width .9s; }

/*-----------------Animacion para el navbar--------------fin---*/
/*-----------------NAVBAR--------------fin---*/
/*-----------------CARRUSEL-----------------*/
.FondoCarrusel {
  background: url("https://png.pngtree.com/thumb_back/fw800/background/20201125/pngtree-black-background-design-vol-4-image_499390.jpg") 225% 89%;
  background-attachment: fixed; }
  .FondoCarrusel .FondoCarrusel__Opaco {
    background-color: rgba(0, 0, 0, 0.6); }

.slide {
  width: 100%;
  margin: auto;
  padding: 2rem 0 2rem 0; }
  .slide .slide__img {
    height: 69vh; }
  .slide h5 {
    font-size: 2.7rem;
    color: white;
    text-transform: uppercase; }
  .slide a {
    padding-top: 3rem;
    text-decoration: none; }
  .slide p {
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    color: white; }

.carousel {
  width: 83vw; }

.d-none {
  display: block !important; }

.carousel-caption {
  padding-bottom: 0;
  position: absolute;
  right: 15%;
  left: 15%;
  bottom: -4% !important;
  color: #fff;
  text-align: center; }

.carousel-inner {
  border-radius: 1.7rem; }

/*-----------------CARRUSEL--------------fin---*/
/*-----------------FOOTER----------------------*/
.Footer {
  background-color: #1F1D1C;
  display: flex;
  height: 15vh; }
  .Footer .Copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 0 0 0 2rem; }
    .Footer .Copyright .Footer__Letras {
      color: white;
      text-transform: uppercase;
      margin: 0; }
  .Footer .Redes {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 8rem 0 0; }
    .Footer .Redes .Red {
      height: 2rem;
      padding: 0 1.4rem 0 0; }

/*-----------------FOOTER-------------------fin---*/
/*-----------------SECCION DE FUNCIONES------------*/
.ContenedorFuncionesMayor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem; }
  .ContenedorFuncionesMayor .ContenedorFuncionesSecciones {
    display: flex;
    flex-direction: column;
    width: 27%;
    background-color: white;
    border-radius: 0.8rem;
    margin-right: 2rem; }
    .ContenedorFuncionesMayor .ContenedorFuncionesSecciones .FilaFuncionesSecciones {
      width: 100%; }
      .ContenedorFuncionesMayor .ContenedorFuncionesSecciones .FilaFuncionesSecciones .FotoFuncionesSecciones {
        width: 100%;
        height: 100%;
        border-radius: 0.8rem 0 0 0; }
    .ContenedorFuncionesMayor .ContenedorFuncionesSecciones .TextoFuncionesSecciones {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
      color: black;
      margin-bottom: 1rem; }
      .ContenedorFuncionesMayor .ContenedorFuncionesSecciones .TextoFuncionesSecciones .PequeñaFuncionesSecciones {
        font-size: 0.8rem;
        display: flex;
        justify-self: start;
        margin-left: 3vw;
        margin-top: 1rem; }
      .ContenedorFuncionesMayor .ContenedorFuncionesSecciones .TextoFuncionesSecciones .TituloFuncionesSecciones {
        font-size: 2.9vw;
        font-weight: 700; }
      .ContenedorFuncionesMayor .ContenedorFuncionesSecciones .TextoFuncionesSecciones .LinkFuncionesSecciones {
        text-decoration: none;
        color: white;
        font-size: 2vw;
        background-color: #B19D07;
        width: 80%;
        display: inline;
        align-self: center;
        border-radius: 0.4rem; }

#MarginNot {
  margin-right: 0; }

/*-----------------SECCION DE FUNCIONES------------fin---*/
/*-----------------APLICABLE A TODAS LAS SECCIONES--------------fin---*/
/*-----------------PRESENTACION DE LA PÁGINA--------------index---*/
#Troilo {
  background-image: url("https://static.wixstatic.com/media/af26e6_be6ee96d13e34779bc16ceae0348be7e~mv2.jpg/v1/fill/w_932,h_778,al_c,q_90/af26e6_be6ee96d13e34779bc16ceae0348be7e~mv2.jpg"); }

#Octeto {
  background-image: url("https://style.shockvisual.net/wp-content/uploads/2021/05/Octeto-Buenos-Aires-Astor-Piazzolla.jpg"); }

#MarginBottom {
  margin-bottom: 3rem; }

#MarginYesFunciones {
  margin-bottom: 2rem; }

.ContenedorIndex {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../Img/FondoColon.jpg");
  background-attachment: fixed; }
  .ContenedorIndex .DobleFondo {
    width: 91%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem 0 2rem 0;
    margin: 3rem 0 0 0;
    border-radius: 0.7rem; }
    .ContenedorIndex .DobleFondo .FondoDescripcion {
      background: url("https://www.laportadacanada.com/userfiles/images/culturalnota1fo2.jpg") no-repeat;
      background-size: cover;
      width: 95%;
      border-radius: 0.8rem;
      background-attachment: fixed; }
      .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco {
        display: flex;
        justify-content: center;
        position: relative;
        background-color: rgba(0, 0, 0, 0.6);
        height: 54vh; }
        .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion {
          color: white;
          font-size: 5rem;
          margin-bottom: 0;
          width: 45%;
          height: 26rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          text-align: center; }
        .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .CentrarLinea {
          width: 10%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .CentrarLinea .Linea {
            width: 0.3rem;
            position: absolute;
            display: flex;
            background-color: white;
            height: 17rem; }
        .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion2 {
          color: white;
          font-size: 1.5rem;
          letter-spacing: 0.1rem;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 0;
          width: 45%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 2rem 0 2rem; }

/*-----------------PRESENTACION DE LA PÁGINA--------------Fin---*/
/*-----------------SECCION DE LA MUSICA EN EL INDEX-------index---*/
#Nonino {
  background-image: url("https://i0.wp.com/argentear.com/wp-content/uploads/2016/05/Piazzolla.jpg?fit=1500%2C803&ssl=1");
  background-size: cover; }

.MusicaIndex {
  background-image: url("https://www.cultura.gob.ar/media/uploads/piazzolla_tango_en_paris.jpg");
  background-attachment: fixed;
  background-size: cover; }
  .MusicaIndex .FondoOpaco {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem; }
    .MusicaIndex .FondoOpaco .LetrasMusicaIndex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      text-transform: uppercase; }
      .MusicaIndex .FondoOpaco .LetrasMusicaIndex .TituloMusicaIndex {
        color: white;
        font-size: 3rem;
        text-align: center;
        height: 40%;
        display: flex;
        align-items: center; }
      .MusicaIndex .FondoOpaco .LetrasMusicaIndex .TextoMusicaIndex {
        color: white;
        font-size: 1.4rem;
        text-align: center;
        padding: 0 3rem 0 3rem;
        height: 60%; }
    .MusicaIndex .FondoOpaco .VideoMusicaIndex {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .MusicaIndex .FondoOpaco .VideoMusicaIndex .Video {
        opacity: 75%;
        border-radius: 1rem; }

/*-----------------SECCION DE LA MUSICA EN EL INDEX-------Fin---*/
/*--------------Bio-------------*/
#Bio {
  background-image: url("https://media.elestimulo.com/2021/03/FOTO-PRINCIPAL-1-960x572.jpg"); }

.Vida {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Vida .DobleFondo {
    width: 94%;
    display: flex;
    flex-direction: column; }
    .Vida .DobleFondo .Vida__Descripcion1 {
      display: flex;
      width: 100%; }
      .Vida .DobleFondo .Vida__Descripcion1 .Niñez {
        width: 50%;
        background: url("https://cdnmundo1.img.sputniknews.com/img/07e5/03/0b/1109765334_0:69:2008:1199_1920x0_80_0_0_ba57f9d2de2c12eaa066e30f05118c6c.jpg") 50% 50% no-repeat;
        background-size: cover;
        border-right: 0.3rem solid white; }
        .Vida .DobleFondo .Vida__Descripcion1 .Niñez .FondoOpaco {
          background-color: rgba(0, 0, 0, 0.6);
          display: flex;
          flex-direction: column;
          height: 100%;
          align-items: center; }
          .Vida .DobleFondo .Vida__Descripcion1 .Niñez .FondoOpaco .NiñezTitulo {
            display: flex;
            justify-content: center;
            padding: 1rem 0 0.5rem 0;
            text-transform: uppercase;
            font-size: 2.2rem;
            color: white;
            width: 100%; }
          .Vida .DobleFondo .Vida__Descripcion1 .Niñez .FondoOpaco .NiñezTexto {
            font-size: 1.8vw;
            color: white;
            padding: 0 3rem; }
      .Vida .DobleFondo .Vida__Descripcion1 .Juventud {
        width: 50%;
        background: url("https://images.clarin.com/2020/01/23/piazzolla-el-musico-que-refundo___byjCOjo9_720x0__1.jpg") 50% 50% no-repeat;
        background-size: cover; }
        .Vida .DobleFondo .Vida__Descripcion1 .Juventud .FondoOpaco {
          display: flex;
          flex-direction: column;
          height: 100%;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.6); }
          .Vida .DobleFondo .Vida__Descripcion1 .Juventud .FondoOpaco .JuventudTitulo {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            padding: 1rem 0 0.5rem 0;
            font-size: 2.2rem;
            color: white; }
          .Vida .DobleFondo .Vida__Descripcion1 .Juventud .FondoOpaco .JuventudTexto {
            font-size: 1.8vw;
            color: white;
            padding: 0 3rem; }
  .Vida .Vida__Descripcion2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.3rem solid white; }
    .Vida .Vida__Descripcion2 .Vejez {
      width: 100%;
      background: url("https://lmdiario.com.ar/download/multimedia.normal.a5ed85940ba4ad1d.7069617a7a6f6c6c6120c2a9204e415f6e6f726d616c2e6a7067.jpg") 50% 50% no-repeat;
      background-size: cover; }
      .Vida .Vida__Descripcion2 .Vejez .FondoOpaco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 23rem;
        background-color: rgba(0, 0, 0, 0.6); }
        .Vida .Vida__Descripcion2 .Vejez .FondoOpaco .VejezTitulo {
          font-size: 2.2rem;
          color: white;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          height: 20%; }
        .Vida .Vida__Descripcion2 .Vejez .FondoOpaco .CentrarLinea {
          width: 100%;
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .Vida .Vida__Descripcion2 .Vejez .FondoOpaco .CentrarLinea .Linea {
            width: 20rem;
            position: absolute;
            display: flex;
            background-color: white;
            height: 0.3rem; }
        .Vida .Vida__Descripcion2 .Vejez .FondoOpaco .VejezTexto {
          font-size: 1.8vw;
          color: white;
          padding: 0 3rem;
          height: 30%;
          text-align: center;
          margin-bottom: 0; }
    .Vida .Vida__Descripcion2 .Gardel {
      width: 100%;
      background: url("https://images.clarin.com/2021/02/23/otra-escena-de-el-dia___7F_chvEsp_720x0__1.jpg") 50% 50% no-repeat;
      background-size: cover; }
      .Vida .Vida__Descripcion2 .Gardel .FondoOpaco {
        width: 100%;
        display: flex;
        height: 23rem;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.6);
        border-top: 0.3rem solid white; }
        .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .GardelTitulo {
          display: flex;
          justify-content: center;
          font-size: 2.2rem;
          color: white;
          text-transform: uppercase;
          height: 20%;
          display: flex;
          align-items: center; }
        .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .CentrarLinea {
          width: 100%;
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 20%; }
          .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .CentrarLinea .Linea {
            width: 20rem;
            position: absolute;
            display: flex;
            background-color: white;
            height: 0.3rem; }
        .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .GardelTexto {
          font-size: 1.8vw;
          color: white;
          padding: 0 3rem;
          text-transform: uppercase;
          text-align: center;
          height: 30%;
          margin: 0;
          display: flex;
          align-items: center; }

#GardelyPiazzolla {
  background-image: url("http://www.correveidile.com.ar/uploads/AstorGardel2.jpg"); }

/*--------------Bio----------fin---*/
#Musica {
  background-image: url("https://quedigital.com.ar/web/wp-content/uploads/2021/02/Im%C3%A1genes-de-la-muestra-%E2%80%9CA-mi-amigo-Astor%E2%80%9D-de-Pupeto-Mastropascua-1.jpg"); }

.MusicaContenedor {
  width: 100%; }
  .MusicaContenedor .Musica {
    display: flex;
    flex-direction: column; }
    .MusicaContenedor .Musica .RevolucionarioFotoyTexto {
      width: 100%;
      background-color: #8cad9c;
      display: flex; }
      .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioFoto {
        width: 20%; }
        .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioFoto .RevolucionarioFoto__Img {
          width: 18vw;
          height: 100%; }
      .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioTexto {
        width: 80%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioTexto .RevolucionarioTitulo {
          width: 100%;
          color: white;
          text-align: center;
          font-size: 3vw; }
        .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioTexto .RevolucionarioParrafo {
          width: 100%;
          color: white;
          font-size: 1.5vw;
          padding: 0 2rem; }
    .MusicaContenedor .Musica .TriunfalFotoyTexto {
      width: 100%;
      background-color: #601800;
      display: flex; }
      .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalFoto {
        width: 20%; }
        .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalFoto .TriunfalFoto__Img {
          width: 18vw;
          height: 100%; }
      .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalTexto {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalTexto .TriunfalTitulo {
          width: 100%;
          color: white;
          text-align: center;
          font-size: 3vw; }
        .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalTexto .TriunfalParrafo {
          width: 100%;
          color: white;
          font-size: 1.5vw;
          padding: 0 2rem;
          text-align: center; }
    .MusicaContenedor .Musica .FugataFotoyTexto {
      width: 100%;
      background-color: #d1ccb4;
      display: flex; }
      .MusicaContenedor .Musica .FugataFotoyTexto .FugataFoto {
        width: 20%; }
        .MusicaContenedor .Musica .FugataFotoyTexto .FugataFoto .FugataFoto__Img {
          width: 18vw;
          height: 100%; }
      .MusicaContenedor .Musica .FugataFotoyTexto .FugataTexto {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .MusicaContenedor .Musica .FugataFotoyTexto .FugataTexto .FugataTitulo {
          width: 100%;
          color: white;
          text-align: center;
          font-size: 3vw; }
        .MusicaContenedor .Musica .FugataFotoyTexto .FugataTexto .FugataParrafo {
          width: 100%;
          color: white;
          font-size: 1.5vw;
          padding: 0 2rem;
          text-align: center; }
  .MusicaContenedor .SeccionMusica {
    width: 100%;
    background: url("../Img/FondoMusicaYt.jpg") 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed; }
    .MusicaContenedor .SeccionMusica .Seccion1 {
      display: flex;
      width: 100%;
      margin-bottom: 1rem; }
      .MusicaContenedor .SeccionMusica .Seccion1 .ChinChin {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .MusicaContenedor .SeccionMusica .Seccion1 .ChinChin .ChinChinTitulo {
          color: white;
          font-size: 2.5rem; }
        .MusicaContenedor .SeccionMusica .Seccion1 .ChinChin .ChinChinVideo {
          opacity: 77%;
          width: 40vw; }
      .MusicaContenedor .SeccionMusica .Seccion1 .Decarisimo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .MusicaContenedor .SeccionMusica .Seccion1 .Decarisimo .DecarisimoTitulo {
          color: white;
          font-size: 2.5rem; }
        .MusicaContenedor .SeccionMusica .Seccion1 .Decarisimo .DecarisimoVideo {
          opacity: 77%;
          width: 40vw; }
    .MusicaContenedor .SeccionMusica .Seccion2 {
      display: flex;
      width: 100%; }
      .MusicaContenedor .SeccionMusica .Seccion2 .Revirado {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .MusicaContenedor .SeccionMusica .Seccion2 .Revirado .ReviradoTitulo {
          color: white;
          font-size: 2.5rem; }
        .MusicaContenedor .SeccionMusica .Seccion2 .Revirado .ReviradoVideo {
          opacity: 77%;
          width: 40vw; }
      .MusicaContenedor .SeccionMusica .Seccion2 .Retrato {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .MusicaContenedor .SeccionMusica .Seccion2 .Retrato .RetratoTitulo {
          color: white;
          font-size: 2.5rem; }
        .MusicaContenedor .SeccionMusica .Seccion2 .Retrato .RetratoVideo {
          opacity: 77%;
          width: 40vw; }

#P100 {
  background-image: url("https://rafaelbarriga.files.wordpress.com/2012/06/astor-piazzolla-astor-piazzolla-png.png"); }

.FondoFunciones {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Argentina_-_Buenos_Aires_-_Teatro_Col%C3%B3n_%28sala%29.JPG/1200px-Argentina_-_Buenos_Aires_-_Teatro_Col%C3%B3n_%28sala%29.JPG") no-repeat 50% 91%;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .FondoFunciones .ContenedorFunciones {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    width: 78vw;
    margin: auto;
    margin-top: 2rem;
    color: black;
    border-radius: 0.8rem; }
    .FondoFunciones .ContenedorFunciones .FilaFunciones {
      width: 50%; }
      .FondoFunciones .ContenedorFunciones .FilaFunciones .FotoFunciones {
        width: 100%;
        height: 100%;
        border-radius: 0.8rem 0 0 0.8rem; }
    .FondoFunciones .ContenedorFunciones .TextoFunciones {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 50%; }
      .FondoFunciones .ContenedorFunciones .TextoFunciones .PequeñaFunciones {
        font-size: 1.2rem;
        display: flex;
        justify-self: start;
        margin-left: 3vw;
        margin-top: 1rem; }
      .FondoFunciones .ContenedorFunciones .TextoFunciones .TituloFuncionesP {
        font-size: 3.5vw;
        text-transform: uppercase; }
      .FondoFunciones .ContenedorFunciones .TextoFunciones .LinkFunciones {
        text-decoration: none;
        color: white;
        display: inline;
        width: 80%;
        align-self: center;
        background-color: #B19D07;
        border-radius: 0.4rem;
        margin-bottom: 1rem;
        font-size: 1.7vw;
        text-transform: uppercase; }

#Contacto {
  background: url("../Img/FondoContacto.jpg");
  background-size: cover; }
  #Contacto .ContenedorTituloYForm {
    display: flex;
    flex-direction: column; }
    #Contacto .ContenedorTituloYForm #ContactoUbicacion {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start; }
      #Contacto .ContenedorTituloYForm #ContactoUbicacion #ContactoTexto {
        margin-right: 0;
        margin-left: 3rem; }

.Formulario {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Formulario .form-group {
    width: 73%;
    margin: auto;
    color: white;
    text-transform: uppercase;
    margin-bottom: 0.6rem; }
    .Formulario .form-group .Nombre {
      margin-top: 2rem; }
  .Formulario .ContactoTitulo {
    color: #B19D07;
    text-transform: uppercase;
    margin-bottom: 2rem; }
    .Formulario .ContactoTitulo h2 {
      font-size: 3rem;
      border-bottom: 0.5rem solid white;
      display: inline;
      background-color: rgba(0, 0, 0, 0.2); }
  .Formulario .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem; }
  .Formulario .btn-primary {
    background-color: #B19D07; }
  .Formulario .FondoFooterBlack {
    background-color: rgba(0, 0, 0, 0.4);
    width: 42%;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column; }

@media (max-width: 992px) {
  /*------------HERO Y NAVBAR------------all---*/
  /*----------------NavBar-----------------*/
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.6); }
  /*----------------NavBar--------------fin---*/
  /*------------HERO Y NAVBAR------------all--fin-*/
  /*------------PRESENTACION------------index---*/
  .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion {
    font-size: 7vw; }
  .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion2 {
    font-size: 2vw; }
  /*------------PRESENTACION------------index--fin---*/
  /*------------DATOS EXTRA------------index-----*/
  .MusicaIndex .FondoOpaco {
    display: flex;
    flex-direction: column; }
    .MusicaIndex .FondoOpaco .LetrasMusicaIndex {
      width: 100%; }
    .MusicaIndex .FondoOpaco .VideoMusicaIndex {
      width: 100%; }
  /*------------DATOS EXTRA------------index--fin---*/
  /*-----------CONTACTO HTML----------*/
  .Formulario .FondoFooterBlack {
    width: 66%; }
  /*-----------CONTACTO HTML-------fin---*/ }

@media (max-width: 768px) {
  /*------------HERO Y NAVBAR------------all---*/
  .Hero .Hero__Content .Hero__Content__Titulo {
    font-size: 6vw;
    background-color: rgba(0, 0, 0, 0.5); }
  /*------------HERO Y NAVBAR------------all--fin-*/
  /*------------PRESENTACION------------index---*/
  #TroiloAlto {
    height: 74vh; }
    #TroiloAlto #TroiloAltoTitulo {
      height: 35%; }
    #TroiloAlto #TroiloAltoLinea {
      height: 10%; }
    #TroiloAlto #TroiloAltoLetras {
      height: 40%; }
  #OctetoTamaño {
    height: 39vh; }
    #OctetoTamaño #OctetoTamañoTitulo {
      height: 25%; }
    #OctetoTamaño #OctetoTamañoLinea {
      height: 10%; }
    #OctetoTamaño #OctetoTamañoLetras {
      height: 50%; }
  .ContenedorIndex .DobleFondo {
    padding: 1.4rem; }
    .ContenedorIndex .DobleFondo .FondoDescripcion {
      background-position: 39%; }
      .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco {
        display: flex;
        flex-direction: column;
        height: 36vh; }
        .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion {
          width: 100%;
          font-size: 7vw;
          height: 30%; }
        .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .CentrarLinea {
          width: 100%;
          height: 20%; }
          .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .CentrarLinea .Linea {
            width: 52vw;
            height: 0.3rem; }
        .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion2 {
          width: 100%;
          font-size: 3vw;
          border-left: none;
          height: 50%; }
  /*------------PRESENTACION------------index--fin---*/
  /*------------CARRUSEL---------------*/
  .carousel-caption {
    padding: 0 !important; }
  .slide {
    padding: 1rem 0 1rem 0; }
    .slide .slide__img {
      height: 38vh; }
    .slide h5 {
      font-size: 1.2rem;
      color: white;
      text-transform: uppercase; }
    .slide a {
      padding-top: 3rem;
      text-decoration: none; }
    .slide p {
      font-size: 0.6rem; }
  /*------------CARRUSEL------------fin---*/
  /*------------MUSICA EN EL INDEX---------------*/
  .MusicaIndex {
    background-position: 52%; }
    .MusicaIndex .FondoOpaco {
      display: flex;
      flex-direction: column; }
      .MusicaIndex .FondoOpaco .LetrasMusicaIndex {
        width: 100%; }
        .MusicaIndex .FondoOpaco .LetrasMusicaIndex .TituloMusicaIndex {
          font-size: 2rem; }
        .MusicaIndex .FondoOpaco .LetrasMusicaIndex .TextoMusicaIndex {
          font-size: 0.9rem;
          padding: 1rem; }
      .MusicaIndex .FondoOpaco .VideoMusicaIndex {
        width: 100%; }
        .MusicaIndex .FondoOpaco .VideoMusicaIndex .Video {
          width: 90%;
          height: 30vh; }
  /*------------MUSICA EN EL INDEX------------fin---*/
  /*------------FOOTER-------------------------*/
  .Footer {
    display: flex;
    flex-direction: column; }
    .Footer .Copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 1.3rem 0 0 0; }
      .Footer .Copyright .Footer__Letras {
        font-size: 0.6rem; }
    .Footer .Redes {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0.7rem 0 0 0; }
      .Footer .Redes .Red {
        height: 1.4rem; }
  /*------------FOOTER-------------------------*/
  /*------------BIOGRAFIA HTML-------------------------*/
  .Vida .DobleFondo .Vida__Descripcion1 {
    display: flex;
    flex-direction: column; }
    .Vida .DobleFondo .Vida__Descripcion1 .Niñez {
      width: 100%;
      border-bottom: 0.3rem solid white;
      border-right: none; }
      .Vida .DobleFondo .Vida__Descripcion1 .Niñez .FondoOpaco .NiñezTexto {
        font-size: 2.3vw; }
    .Vida .DobleFondo .Vida__Descripcion1 .Juventud {
      width: 100%; }
      .Vida .DobleFondo .Vida__Descripcion1 .Juventud .FondoOpaco .JuventudTexto {
        font-size: 2.3vw; }
  .Vida .DobleFondo .Vida__Descripcion2 .Vejez .VejezTexto {
    font-size: 2.3vw; }
  .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .GardelTexto {
    font-size: 2.3vw; }
  /*------------BIOGRAFIA HTML----------------------fin---*/
  /*------------MUSICA HTML----------------------------*/
  .MusicaContenedor .Musica .RevolucionarioFotoyTexto {
    display: flex;
    flex-direction: column; }
    .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioFoto {
      width: 100%;
      display: flex;
      justify-content: center; }
      .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioFoto .RevolucionarioFoto__Img {
        width: 28vw; }
    .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioTexto {
      width: 100%; }
      .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioTexto .RevolucionarioTitulo {
        font-size: 4.6vw; }
      .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioTexto .RevolucionarioParrafo {
        font-size: 2.1vw; }
  .MusicaContenedor .Musica .TriunfalFotoyTexto {
    display: flex;
    flex-direction: column; }
    .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalFoto {
      width: 100%;
      display: flex;
      justify-content: center; }
      .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalFoto .TriunfalFoto__Img {
        width: 28vw; }
    .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalTexto {
      width: 100%; }
      .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalTexto .TriunfalTitulo {
        font-size: 4.6vw; }
      .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalTexto .TriunfalParrafo {
        font-size: 2.1vw; }
  .MusicaContenedor .Musica .FugataFotoyTexto {
    display: flex;
    flex-direction: column; }
    .MusicaContenedor .Musica .FugataFotoyTexto .FugataFoto {
      width: 100%;
      display: flex;
      justify-content: center; }
      .MusicaContenedor .Musica .FugataFotoyTexto .FugataFoto .FugataFoto__Img {
        width: 28vw; }
    .MusicaContenedor .Musica .FugataFotoyTexto .FugataTexto {
      width: 100%; }
      .MusicaContenedor .Musica .FugataFotoyTexto .FugataTexto .FugataTitulo {
        font-size: 4.6vw; }
      .MusicaContenedor .Musica .FugataFotoyTexto .FugataTexto .FugataParrafo {
        font-size: 2.1vw; }
  /*------------MUSICA DATOS-------------*/
  .MusicaContenedor .SeccionMusica .Seccion1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0; }
    .MusicaContenedor .SeccionMusica .Seccion1 .ChinChin {
      width: 100%;
      margin: 0 0 1.5rem 0; }
      .MusicaContenedor .SeccionMusica .Seccion1 .ChinChin .ChinChinVideo {
        width: 90vw; }
    .MusicaContenedor .SeccionMusica .Seccion1 .Decarisimo {
      width: 100%;
      margin: 0 0 1.5rem 0; }
      .MusicaContenedor .SeccionMusica .Seccion1 .Decarisimo .DecarisimoVideo {
        width: 90vw; }
  .MusicaContenedor .SeccionMusica .Seccion2 {
    display: flex;
    flex-direction: column; }
    .MusicaContenedor .SeccionMusica .Seccion2 .Revirado {
      width: 100%;
      margin: 0 0 1.5rem 0; }
      .MusicaContenedor .SeccionMusica .Seccion2 .Revirado .ReviradoVideo {
        width: 90vw; }
    .MusicaContenedor .SeccionMusica .Seccion2 .Retrato {
      width: 100%;
      margin: 0 0 1.5rem 0; }
      .MusicaContenedor .SeccionMusica .Seccion2 .Retrato .RetratoVideo {
        width: 90vw; }
  /*------------MUSICA DATOS----------fin---*/
  /*------------MUSICA HTML-------------------------fin---*/
  /*------------PIAZZOLLA100 HTML----------------------------*/
  .FondoFunciones .ContenedorFunciones {
    display: flex;
    flex-direction: column; }
    .FondoFunciones .ContenedorFunciones .FilaFunciones {
      width: 100%; }
    .FondoFunciones .ContenedorFunciones .TextoFunciones {
      width: 100%; }
      .FondoFunciones .ContenedorFunciones .TextoFunciones .TituloFuncionesP {
        font-size: 5.5vw; }
      .FondoFunciones .ContenedorFunciones .TextoFunciones .LinkFunciones {
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 43%;
        height: 5vh; }
  /*------------PIAZZOLLA100 HTML-------------------------fin---*/
  /*-----------CONTACTO HTML----------*/
  .Formulario .FondoFooterBlack {
    width: 68%; }
  /*-----------CONTACTO HTML-------fin---*/ }

@media (max-width: 576px) {
  /*------------INDEX HTML---------*/
  #PaddingTango {
    padding: 0 1rem; }
  #TroiloAlto {
    height: 68vh; }
    #TroiloAlto #TroiloAltoTitulo {
      font-size: 9vw; }
  /*------------HERO Y NAVBAR------------all---*/
  .Hero .Hero__Content .Hero__Content__Titulo {
    font-size: 7vw; }
  /*------------HERO Y NAVBAR------------all--fin-*/
  .ContenedorIndex .DobleFondo .FondoDescripcion {
    background-attachment: unset; }
  .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion {
    height: 25%; }
  .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .CentrarLinea {
    height: 10%; }
  .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion2 {
    height: 38%; }
  /*------------INDEX HTML------fin---*/
  /*------------BIOGRAFIA HTML---------*/
  .Vida .DobleFondo .Vida__Descripcion1 .Niñez .FondoOpaco .NiñezTitulo {
    font-size: 5.3vw; }
  .Vida .DobleFondo .Vida__Descripcion1 .Niñez .FondoOpaco .NiñezTexto {
    font-size: 3vw; }
  .Vida .DobleFondo .Vida__Descripcion1 .Juventud .FondoOpaco .JuventudTitulo {
    font-size: 5.3vw; }
  .Vida .DobleFondo .Vida__Descripcion1 .Juventud .FondoOpaco .JuventudTexto {
    font-size: 3vw; }
  .Vida .DobleFondo .Vida__Descripcion2 .Vejez .VejezTitulo {
    font-size: 5.3vw; }
  .Vida .DobleFondo .Vida__Descripcion2 .Vejez .VejezTexto {
    font-size: 3vw; }
  .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .GardelTitulo {
    font-size: 5.3vw; }
  .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .GardelTexto {
    font-size: 3vw; }
  /*------------BIOGRAFIA HTML------fin---*/
  /*------------MUSICA HTML----------*/
  .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioTexto .RevolucionarioTitulo {
    font-size: 6.6vw; }
  .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioTexto .RevolucionarioParrafo {
    font-size: 3.1vw; }
  .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalTexto .TriunfalTitulo {
    font-size: 6.6vw; }
  .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalTexto .TriunfalParrafo {
    font-size: 3.1vw; }
  .MusicaContenedor .Musica .FugataFotoyTexto .FugataTexto .FugataTitulo {
    font-size: 6.6vw; }
  .MusicaContenedor .Musica .FugataFotoyTexto .FugataTexto .FugataParrafo {
    font-size: 3.1vw; }
  /*------------MUSICA HTML-------fin---*/ }

@media (max-width: 360px) {
  .Vida .DobleFondo .Vida__Descripcion2 .Vejez .VejezTexto {
    font-size: 3.2vw; }
  .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .GardelTexto {
    font-size: 3.2vw; }
  .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .CentrarLinea {
    height: 10%; }
  /*-----------CONTACTO HTML----------*/
  .Formulario .FondoFooterBlack {
    width: 84%; }
  /*-----------CONTACTO HTML-------fin---*/
  /*-----------FOOTER HTML---------------*/
  .Footer .Copyright .Footer__Letras {
    font-size: 0.8rem; }
  /*-----------FOOTER HTML------------fin---*/
  /*-----------TAMAÑO DE LOGO PARA CELUS------------*/
  .Hero .NavbarCustom .LogoBandoneon {
    width: 7rem;
    height: 7rem; }
  /*-----------TAMAÑO DE LOGO PARA CELUS---------fin---*/ }
