@charset "UTF-8";
/*-----------------APLICABLE A TODAS LAS SECCIONES-----------------*/
body {
  background-color: black !important; }

/*-----------------NAVBAR-----------------*/
.Hero {
  background: url("https://cdnmundo1.img.sputniknews.com/img/07e5/03/0b/1109764838_0:432:2048:1584_1920x0_80_0_0_369734dff8483ddb0e168b6452419b70.jpg") no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed; }
  .Hero .NavbarCustom {
    height: 20%; }
    .Hero .NavbarCustom .nav-link {
      color: white;
      font-size: 1.5rem;
      text-align: center; }
    .Hero .NavbarCustom .LogoBandoneon {
      width: 88%; }
  .Hero .navbar-nav > li {
    /*--Le agrega espacios entre secciones--*/
    margin-right: 2rem; }
  .Hero .navbar-brand {
    /*--Le reduce el tamaño al contenedor del logo--*/
    width: 11%; }
  .Hero .Hero__Content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80%;
    width: 100%; }
    .Hero .Hero__Content .Hero__Content__Titulo {
      font-size: 5vw;
      margin-right: 3rem;
      text-transform: uppercase;
      color: #B19D07;
      text-align: right; }

/*-----------------Animacion para el navbar-----------------*/
.nav-link {
  /*-----------------Le quito el padding para que la linea de animacion sea del tamaño de la palabra y no mas-----------------*/
  padding-right: 0 !important;
  padding-left: 0 !important; }

.AnimacionLinea {
  position: relative; }

.AnimacionLinea::after {
  content: '';
  width: 0%;
  height: 0.1rem;
  display: block;
  background-color: #B19D07;
  position: absolute;
  transition: width .9s; }

.AnimacionLinea:hover::after {
  width: 100%;
  position: absolute;
  background-color: #B19D07;
  transition: width .9s; }

/*-----------------Animacion para el navbar--------------fin---*/
/*-----------------NAVBAR--------------fin---*/
/*-----------------CARRUSEL-----------------*/
.FondoCarrusel {
  background: url("https://png.pngtree.com/thumb_back/fw800/background/20201125/pngtree-black-background-design-vol-4-image_499390.jpg") 225% 89%;
  background-attachment: fixed; }
  .FondoCarrusel .FondoCarrusel__Opaco {
    background-color: rgba(0, 0, 0, 0.6); }

.slide {
  width: 100%;
  margin: auto;
  padding: 2rem 0 2rem 0; }
  .slide .slide__img {
    height: 69vh; }
  .slide h5 {
    font-size: 2.7rem;
    color: white;
    text-transform: uppercase; }
  .slide a {
    padding-top: 3rem;
    text-decoration: none; }
  .slide p {
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    color: white; }

.carousel {
  width: 83vw; }

.d-none {
  display: block !important; }

.carousel-caption {
  padding-bottom: 0;
  position: absolute;
  right: 15%;
  left: 15%;
  bottom: -4% !important;
  color: #fff;
  text-align: center; }

.carousel-inner {
  border-radius: 1.7rem; }

/*-----------------CARRUSEL--------------fin---*/
/*-----------------FOOTER----------------------*/
.Footer {
  background-color: #1F1D1C;
  display: flex;
  height: 15vh; }
  .Footer .Copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 0 0 0 2rem; }
    .Footer .Copyright .Footer__Letras {
      color: white;
      text-transform: uppercase;
      margin: 0; }
  .Footer .Redes {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 8rem 0 0; }
    .Footer .Redes .Red {
      height: 2rem;
      padding: 0 1.4rem 0 0; }

/*-----------------FOOTER-------------------fin---*/
/*-----------------APLICABLE A TODAS LAS SECCIONES--------------fin---*/
/*-----------------PRESENTACION DE LA PÁGINA--------------index---*/
#Troilo {
  background-image: url("https://static.wixstatic.com/media/af26e6_be6ee96d13e34779bc16ceae0348be7e~mv2.jpg/v1/fill/w_932,h_778,al_c,q_90/af26e6_be6ee96d13e34779bc16ceae0348be7e~mv2.jpg"); }

#Octeto {
  background-image: url("https://style.shockvisual.net/wp-content/uploads/2021/05/Octeto-Buenos-Aires-Astor-Piazzolla.jpg"); }

.ContenedorIndex {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../Img/FondoColon.jpg");
  background-attachment: fixed; }
  .ContenedorIndex .DobleFondo {
    width: 91%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem 0 2rem 0;
    margin: 3rem 0 3rem 0;
    border-radius: 0.7rem; }
    .ContenedorIndex .DobleFondo .FondoDescripcion {
      background: url("https://static.eldiario.es/clip/0e174474-d3b3-4f0c-90a4-0fcf82cac2de_16-9-aspect-ratio_default_1013593.jpg") no-repeat;
      background-size: cover;
      width: 95%;
      border-radius: 0.8rem;
      background-attachment: fixed; }
      .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco {
        display: flex;
        justify-content: center;
        position: relative;
        background-color: rgba(0, 0, 0, 0.6); }
        .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion {
          color: white;
          font-size: 5rem;
          margin-bottom: 0;
          width: 50%;
          height: 26rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          text-align: center; }
        .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion2 {
          color: white;
          font-size: 1.5rem;
          letter-spacing: 0.1rem;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 0;
          width: 50%;
          border-left: 0.5rem white solid;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 2rem 0 2rem; }

/*-----------------PRESENTACION DE LA PÁGINA--------------Fin---*/
/*-----------------SECCION DE LA MUSICA EN EL INDEX-------index---*/
#Nonino {
  background-image: url("https://i0.wp.com/argentear.com/wp-content/uploads/2016/05/Piazzolla.jpg?fit=1500%2C803&ssl=1");
  background-size: cover; }

.MusicaIndex {
  background-image: url("https://www.cultura.gob.ar/media/uploads/piazzolla_tango_en_paris.jpg");
  background-attachment: fixed;
  background-size: cover; }
  .MusicaIndex .FondoOpaco {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem; }
    .MusicaIndex .FondoOpaco .LetrasMusicaIndex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      text-transform: uppercase; }
      .MusicaIndex .FondoOpaco .LetrasMusicaIndex .TituloMusicaIndex {
        color: white;
        font-size: 3rem;
        text-align: center;
        height: 40%;
        display: flex;
        align-items: center; }
      .MusicaIndex .FondoOpaco .LetrasMusicaIndex .TextoMusicaIndex {
        color: white;
        font-size: 1.4rem;
        text-align: center;
        padding: 0 3rem 0 3rem;
        height: 60%; }
    .MusicaIndex .FondoOpaco .VideoMusicaIndex {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .MusicaIndex .FondoOpaco .VideoMusicaIndex .Video {
        opacity: 75%;
        border-radius: 1rem; }

/*-----------------SECCION DE LA MUSICA EN EL INDEX-------Fin---*/
@media (max-width: 575.98px) {
  /*------------PRESENTACION------------index---*/
  .ContenedorIndex .DobleFondo {
    padding: 1.4rem; }
    .ContenedorIndex .DobleFondo .FondoDescripcion {
      background-position: 39%; }
      .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco {
        display: flex;
        flex-direction: column; }
        .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion {
          width: 100%;
          font-size: 3vh;
          padding: 2rem;
          height: 100%; }
        .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion2 {
          width: 100%;
          font-size: 1.7vh;
          border-left: none;
          border-top: 0.7rem solid white;
          padding: 3rem; }
  /*------------PRESENTACION------------fin---*/
  .MusicaIndex .FondoOpaco {
    display: flex;
    flex-direction: column; }
    .MusicaIndex .FondoOpaco .LetrasMusicaIndex {
      width: 100%; }
      .MusicaIndex .FondoOpaco .LetrasMusicaIndex .TituloMusicaIndex {
        font-size: 2rem; }
      .MusicaIndex .FondoOpaco .LetrasMusicaIndex .TextoMusicaIndex {
        font-size: 0.9rem;
        padding: 1rem; }
    .MusicaIndex .FondoOpaco .VideoMusicaIndex {
      width: 100%; }
      .MusicaIndex .FondoOpaco .VideoMusicaIndex .Video {
        width: 90%;
        height: 30vh; }
  /*------------FOOTER-------------------------*/
  .Footer {
    display: flex;
    flex-direction: column; }
    .Footer .Copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 1.3rem 0 0 0; }
      .Footer .Copyright .Footer__Letras {
        font-size: 0.6rem; }
    .Footer .Redes {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0.7rem 0 0 0; }
      .Footer .Redes .Red {
        height: 1.4rem; }
  /*------------FOOTER-------------------------*/ }
