@media (max-width: 575.98px){
    /*------------PRESENTACION------------index---*/
    .ContenedorIndex .DobleFondo{
            padding: 1.4rem;
        
            .FondoDescripcion{
                background-position: 39%;
                .FondoOpaco{
                    display: flex;
                    flex-direction: column;
                        .FondoDescripcion__Presentacion{
                            width: 100%;
                            font-size: 3vh;
                            padding: 2rem;
                            height: 100%;
                        }
                        
                        .FondoDescripcion__Presentacion2{
                            width: 100%;
                            font-size: 1.7vh;
                            border-left: none;
                            border-top: 0.7rem solid white;
                            padding: 3rem;
                        }
                        
                }
            }   
        }    
    /*------------CARRUSEL---------------*/
    .carousel-caption{
        padding: 0;
    }
    .slide{
        padding: 1rem 0 1rem 0;
        .slide__img{
            height: 38vh;
                }
        
                h5{
                    font-size: 1.2rem;
                    color: $Color-Titulo;
                    text-transform: uppercase;
                }
                a{
                    padding-top:3rem;
                    text-decoration: none;
                }
                p{
                    font-size: 0.6rem;
                }
            }
    /*------------CARRUSEL------------fin---*/
    /*------------MUSICA EN EL INDEX---------------*/

    .MusicaIndex{  
        background-position: 52%;
        .FondoOpaco{
            display: flex;
            flex-direction: column;
            .LetrasMusicaIndex {
                width: 100%;
                    .TituloMusicaIndex{
                        font-size: 2rem;
                    }
                    .TextoMusicaIndex{
                        font-size: 0.9rem;
                        padding: 1rem;
                    }
            }
            .VideoMusicaIndex{
                width: 100%;
                    .Video{
                        width: 90%;
                        height: 30vh;
                    }
            }
        }
}
/*------------MUSICA EN EL INDEX------------fin---*/
    /*------------FOOTER-------------------------*/
    .Footer{
        display: flex;
        flex-direction: column;
            .Copyright{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 1.3rem 0 0 0;
                    .Footer__Letras{
                        font-size: 0.6rem;
                    }
            }
            .Redes{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 0.7rem 0 0 0;
                    .Red{
                        height: 1.4rem;
                    }
            }
    }
    /*------------FOOTER-------------------------*/
    }
    