@media (max-width: 575.98px){
    /*------------PRESENTACION------------index---*/
    .ContenedorIndex .DobleFondo{
            background-attachment: none;
            padding: 1.4rem;
        
            .FondoDescripcion{
                width: 95%;
                background-position: 39%;
                background-attachment: unset;
                .FondoOpaco{
                    display: flex;
                    flex-direction: column;
                        .FondoDescripcion__Presentacion{
                            width: 100%;
                            font-size: 3vh;
                            padding: 2rem;
                            height: 100%;
                        }
                        
                        .FondoDescripcion__Presentacion2{
                            width: 100%;
                            font-size: 1.7vh;
                            border-left: none;
                            border-top: 0.7rem solid white;
                            padding: 3rem;
                        }
                        
                }
            }   
        }    
    }
    /*------------PRESENTACION------------index---*/