@media (max-width: 992px){
    /*------------HERO Y NAVBAR------------all---*/
    /*----------------NavBar-----------------*/
    .navbar-collapse{
        background-color: rgba(0, 0, 0, .6);
    }
    /*----------------NavBar--------------fin---*/
    /*------------HERO Y NAVBAR------------all--fin-*/
     /*------------PRESENTACION------------index---*/
    .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion{
        font-size: 7vw;
    }
    .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco .FondoDescripcion__Presentacion2{
        font-size: 2vw;
    }
    /*------------PRESENTACION------------index--fin---*/
    /*------------DATOS EXTRA------------index-----*/
    .MusicaIndex .FondoOpaco{
        display: flex;
        flex-direction: column;
            .LetrasMusicaIndex{
                width: 100%;
            }
            .VideoMusicaIndex{
                width: 100%;
            }
    }
    /*------------DATOS EXTRA------------index--fin---*/
    /*-----------CONTACTO HTML----------*/
    .Formulario .FondoFooterBlack {
        width: 66%;
    }
    /*-----------CONTACTO HTML-------fin---*/
}
@media (max-width: 768px){
    /*------------HERO Y NAVBAR------------all---*/
    .Hero .Hero__Content .Hero__Content__Titulo{
        font-size: 6vw ;
        background-color: rgba(0,0,0,.5);
    }
    /*------------HERO Y NAVBAR------------all--fin-*/
    /*------------PRESENTACION------------index---*/
    #TroiloAlto{
        height: 74vh;
            #TroiloAltoTitulo{
                height: 35%;
            }
            #TroiloAltoLinea{
                height: 10%;
            }
            #TroiloAltoLetras{
                height: 40%;
            }
    }
    #OctetoTamaño{
        height: 39vh;
            #OctetoTamañoTitulo{
                height: 25%;
            }
            #OctetoTamañoLinea{
                height: 10%;
            }
            #OctetoTamañoLetras{
                height: 50%;
            }
    }
    .ContenedorIndex .DobleFondo{
            padding: 1.4rem;
        
            .FondoDescripcion{
                background-position: 39%;
                .FondoOpaco{
                    display: flex;
                    flex-direction: column;
                    height: 36vh;
                        .FondoDescripcion__Presentacion{
                            width: 100%;
                            font-size: 7vw;
                            height: 30%;
                        }
                        .CentrarLinea{
                            width: 100%;
                            height: 20%;
                                .Linea{
                                    width: 52vw;
                                    height: 0.3rem;
                                }
                        }
                        
                        .FondoDescripcion__Presentacion2{
                            width: 100%;
                            font-size: 3vw;
                            border-left: none;
                            height: 50%;
                        }
                        
                }
            }   
        }    
        /*------------PRESENTACION------------index--fin---*/
    /*------------CARRUSEL---------------*/
    .carousel-caption{
        padding: 0 !important;
    }
    .slide{
        padding: 1rem 0 1rem 0;
        .slide__img{
            height: 38vh;
                }
        
                h5{
                    font-size: 1.2rem;
                    color: $Color-Titulo;
                    text-transform: uppercase;
                }
                a{
                    padding-top:3rem;
                    text-decoration: none;
                }
                p{
                    font-size: 0.6rem;
                }
            }
    /*------------CARRUSEL------------fin---*/
    /*------------MUSICA EN EL INDEX---------------*/

    .MusicaIndex{  
        background-position: 52%;
        .FondoOpaco{
            display: flex;
            flex-direction: column;
            .LetrasMusicaIndex {
                width: 100%;
                    .TituloMusicaIndex{
                        font-size: 2rem;
                    }
                    .TextoMusicaIndex{
                        font-size: 0.9rem;
                        padding: 1rem;
                    }
            }
            .VideoMusicaIndex{
                width: 100%;
                    .Video{
                        width: 90%;
                        height: 30vh;
                    }
            }
        }
}
/*------------MUSICA EN EL INDEX------------fin---*/
    /*------------FOOTER-------------------------*/
    .Footer{
        display: flex;
        flex-direction: column;
            .Copyright{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 1.3rem 0 0 0;
                    .Footer__Letras{
                        font-size: 0.6rem;
                    }
            }
            .Redes{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 0.7rem 0 0 0;
                    .Red{
                        height: 1.4rem;
                    }
            }
    }
    /*------------FOOTER-------------------------*/
    /*------------BIOGRAFIA HTML-------------------------*/
    .Vida .DobleFondo .Vida__Descripcion1{
        display: flex;
        flex-direction: column;
            .Niñez{
                width: 100%;
                border-bottom: 0.3rem solid white;
                border-right: none;
                .FondoOpaco{
                    .NiñezTexto{
                        font-size: $Tamaño-Letra-768px-Bio-Vida;
                    }
            }
        }
            .Juventud{
                width: 100%;
                .FondoOpaco{
                    .JuventudTexto{
                        font-size: $Tamaño-Letra-768px-Bio-Vida;
                    }
            }        
    }
}
    .Vida .DobleFondo .Vida__Descripcion2 .Vejez .VejezTexto{
        font-size: $Tamaño-Letra-768px-Bio-Vida;
    }

    .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .GardelTexto{
        font-size: $Tamaño-Letra-768px-Bio-Vida;
    }
    
    /*------------BIOGRAFIA HTML----------------------fin---*/
    /*------------MUSICA HTML----------------------------*/
    .MusicaContenedor .Musica .RevolucionarioFotoyTexto{
        display: flex;
        flex-direction: column;
            .RevolucionarioFoto{
                width: 100%;
                display: flex;
                justify-content: center;
                    .RevolucionarioFoto__Img{
                        width: $Tamaño-Imagen-768-Musica;
                    }
            }
            .RevolucionarioTexto{
                width: 100%;
                    .RevolucionarioTitulo{
                        font-size: $Musica-Tamaño-768-Titulo;
                    }
                    .RevolucionarioParrafo{
                        font-size: $Musica-Tamaño-768-Parrafo;
                    }
            }
    }
    
    .MusicaContenedor .Musica .TriunfalFotoyTexto{
        display: flex;
        flex-direction: column;
            .TriunfalFoto{
                width: 100%;
                display: flex;
                justify-content: center;
                    .TriunfalFoto__Img{
                        width: $Tamaño-Imagen-768-Musica;
                    }
            }
            .TriunfalTexto{
                width: 100%;
                    .TriunfalTitulo{
                        font-size: $Musica-Tamaño-768-Titulo;
                    }
                    .TriunfalParrafo{
                        font-size: $Musica-Tamaño-768-Parrafo;
                    }
            }
    }
    .MusicaContenedor .Musica .FugataFotoyTexto{
        display: flex;
        flex-direction: column;
            .FugataFoto{
                width: 100%;
                display: flex;
                justify-content: center;
                    .FugataFoto__Img{
                        width: $Tamaño-Imagen-768-Musica;
                    }
            }
            .FugataTexto{
                width: 100%;
                    .FugataTitulo{
                        font-size: $Musica-Tamaño-768-Titulo;
                    }
                    .FugataParrafo{
                        font-size: $Musica-Tamaño-768-Parrafo;
                    }
            }
    }
    /*------------MUSICA DATOS-------------*/
    .MusicaContenedor .SeccionMusica .Seccion1{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
            .ChinChin{
                width: 100%;
                margin: 0 0 1.5rem 0;
                .ChinChinVideo{
                    width: 90vw;
                }
            }
            .Decarisimo{
                width: 100%;
                margin: 0 0 1.5rem 0;
                .DecarisimoVideo{
                    width: 90vw;
                }
            }
    }
    .MusicaContenedor .SeccionMusica .Seccion2{
        display: flex;
        flex-direction: column;
            .Revirado{
                width: 100%;
                margin: 0 0 1.5rem 0;
                .ReviradoVideo{
                    width: 90vw;
                }
            }
            .Retrato{
                width: 100%;
                margin: 0 0 1.5rem 0;
                .RetratoVideo{
                    width: 90vw;
                }
            }
    }
    /*------------MUSICA DATOS----------fin---*/
    /*------------MUSICA HTML-------------------------fin---*/
    /*------------PIAZZOLLA100 HTML----------------------------*/
    .FondoFunciones .ContenedorFunciones{
        display: flex;
        flex-direction: column;
        .FilaFunciones{
            width: 100%;
        }
        .TextoFunciones{
            width: 100%;
            .TituloFuncionesP{
                font-size: 5.5vw;
            }
            .LinkFunciones{
                font-size: 3vw;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 43%;
                height: 5vh;
            }
        }
    }
    /*------------PIAZZOLLA100 HTML-------------------------fin---*/
    /*-----------CONTACTO HTML----------*/
    .Formulario .FondoFooterBlack {
        width: 68%;
    }
    /*-----------CONTACTO HTML-------fin---*/
    }

    @media (max-width: 576px){
        /*------------INDEX HTML---------*/
        #PaddingTango{
            padding: 0 1rem;
        }
        #TroiloAlto{
            height: 68vh;
                #TroiloAltoTitulo{
                    font-size: 9vw;
                }
        }
        /*------------HERO Y NAVBAR------------all---*/
    .Hero .Hero__Content .Hero__Content__Titulo{
        font-size: 7vw ;
    }
    /*------------HERO Y NAVBAR------------all--fin-*/
        .ContenedorIndex .DobleFondo .FondoDescripcion{
            background-attachment:unset;
        }
        .ContenedorIndex .DobleFondo .FondoDescripcion .FondoOpaco{
            .FondoDescripcion__Presentacion{
                height: 25%;
            }
            .CentrarLinea{
                height: 10%;
            }
            .FondoDescripcion__Presentacion2{
                height: 38%;
            }
        }
        /*------------INDEX HTML------fin---*/
        /*------------BIOGRAFIA HTML---------*/
        .Vida .DobleFondo .Vida__Descripcion1 .Niñez .FondoOpaco .NiñezTitulo{
            font-size: 5.3vw;
        }
        .Vida .DobleFondo .Vida__Descripcion1 .Niñez .FondoOpaco .NiñezTexto{
            font-size: 3vw;
        }
        .Vida .DobleFondo .Vida__Descripcion1 .Juventud .FondoOpaco .JuventudTitulo{
            font-size: 5.3vw;
        }
        .Vida .DobleFondo .Vida__Descripcion1 .Juventud .FondoOpaco .JuventudTexto{
            font-size: 3vw;
        }
        .Vida .DobleFondo .Vida__Descripcion2 .Vejez .VejezTitulo{
            font-size: 5.3vw;
        }
        .Vida .DobleFondo .Vida__Descripcion2 .Vejez .VejezTexto{
            font-size: 3vw;
        }
        .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .GardelTitulo{
            font-size: 5.3vw;
        }
        .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .GardelTexto{
            font-size: 3vw;
        }
        /*------------BIOGRAFIA HTML------fin---*/
        /*------------MUSICA HTML----------*/
        .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioTexto .RevolucionarioTitulo{
            font-size: 6.6vw;
        }
        .MusicaContenedor .Musica .RevolucionarioFotoyTexto .RevolucionarioTexto .RevolucionarioParrafo{
            font-size: 3.1vw;
        }
        .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalTexto .TriunfalTitulo{
            font-size: 6.6vw;
        }
        .MusicaContenedor .Musica .TriunfalFotoyTexto .TriunfalTexto .TriunfalParrafo{
            font-size: 3.1vw;
        }
        .MusicaContenedor .Musica .FugataFotoyTexto .FugataTexto .FugataTitulo{
            font-size: 6.6vw;
        }
        .MusicaContenedor .Musica .FugataFotoyTexto .FugataTexto .FugataParrafo{
            font-size: 3.1vw;
        }
        /*------------MUSICA HTML-------fin---*/

    }
    @media (max-width: 360px){
        .Vida .DobleFondo .Vida__Descripcion2 .Vejez .VejezTexto{
            font-size: 3.2vw;
        }
        .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .GardelTexto{
            font-size: 3.2vw;
        }
        .Vida .Vida__Descripcion2 .Gardel .FondoOpaco .CentrarLinea{
            height: 10%;
        }
        /*-----------CONTACTO HTML----------*/
        .Formulario .FondoFooterBlack {
            width: 84%;
        }
        /*-----------CONTACTO HTML-------fin---*/
        /*-----------FOOTER HTML---------------*/
        .Footer .Copyright .Footer__Letras{
            font-size: 0.8rem;
        }
        /*-----------FOOTER HTML------------fin---*/
        /*-----------TAMAÑO DE LOGO PARA CELUS------------*/
        .Hero .NavbarCustom .LogoBandoneon{
            width: 7rem;
            height: 7rem;
        }
        /*-----------TAMAÑO DE LOGO PARA CELUS---------fin---*/
    }