$Fondo-Opaco-Fondos: rgba(0, 0, 0,.5);
$Fondo-Opaco-Marcos:rgba(0, 0, 0,.7);
$Color-Primario: #B19D07;
$Color-Titulo: white;
$Tamaño-Letra-Vida:1.5rem;
$Tamaño-Titulo-Vida:2.2rem;
$Padding-Contenido-Vida: 0 3rem;
$Fondo-Opaco-Vida: rgba(0, 0, 0,.6);
/*$Ancho-Vida: width(100%);*/

/*------Seccion de la biografia en Bio--------*/
$Tamaño-Letra-Inicial-Bio-Vida: 1.8vw;
$Tamaño-Letra-768px-Bio-Vida: 2.3vw;
/*------Seccion de la biografia en Bio-----fin---*/

/*------Seccion albunmes en Musica------*/
$Musica-Tamaño-Inicial-Parrafo: 1.5vw;
$Musica-Tamaño-Inicial-Titulo: 3vw;
$Tamaño-Imagen-Musica:18vw;
/*-----768px------*/
$Musica-Tamaño-768-Titulo: 4.6vw;
$Musica-Tamaño-768-Parrafo: 2.1vw;
$Tamaño-Imagen-768-Musica:28vw;
/*-----768px---fin---*/
/*------Seccion albunmes en Musica---fin---*/